@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Extended.otf') format('opentype');
}
@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/Proxima Nova Thin.otf') format('opentype');
}

html {
    -webkit-font-smoothing: antialiased;

}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, h2 {
    font-family: 'Helvetica Neue', Arial, serif;
    color: #303030;
    font-weight: bolder;
}

.label-danger {
    background-color: #e93146;
    font-size: 10px;
}

.navbar-brand {
    padding: 10px 10px;
}

.navbar-nav,
.navbar-collapse,
.navbar-inverse,
.navbar-nav > li.active {
    background-color: #303538;
    border-color: #303538;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #303538;
        border-color: #303538;

    }

.navbar .divider-vertical {
    height: 50px;
    background-image: -webkit-gradient(radial, right top, 0, 90% 0%, 150, from(transparent), to(#000));
    background-image: -webkit-radial-gradient(right top, 150px 230px, transparent, #000 );
    background-image: -moz-radial-gradient(right top, farthest-corner, transparent 0%, #000 72%);
    width: 2px;
}
li > a {
    font-family:  "Helvetica Neue", Arial, serif;
  }

.small-text {
    color: #999999;
    font-family: 'Proxima Nova Thin', Arial, Verdana, serif;
    font-size: 14px;
    font-weight: bold;
}


h2 {
    margin-top: 0;
}

h1 {
    margin-bottom: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.progress-bar-container {
    margin-top: 30px;
    border-top: 2px solid #E8E8E8;
    background-color: #F4F4F4;
    height: 85px;
}

.progress-bar-header-text {
    color: #7b7b7b;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.progress-bar-text {
    font-size: 10px;
    margin-left: 5px;
    font-family: 'Helvetica Neue', sans-serif;
}

.progress {
    background-color: white;
    border: 3px solid white; 
    border-radius: 5px; 
    height: 30px;
    margin-bottom: 0;
}
.progress-bar-custom {
    background: rgba(65, 201, 92, 1);
} 
.progress-striped .progress-bar-custom {
    background-color: rgba(65, 201, 92, 1); 
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(92, 102, 66, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(92, 102, 66, 0.15)),color-stop(0.75,rgba(92, 102, 66, 0.15)),color-stop(0.75,transparent),to(transparent))); 
    background-image: -webkit-linear-gradient(135deg,rgba(92, 102, 66, 0.15) 25%,transparent 25%,transparent 50%,rgba(92, 102, 66, 0.15) 50%,rgba(92, 102, 66, 0.15) 75%,transparent 75%,transparent); 
    background-image: linear-gradient(135deg,rgba(92, 102, 66, 0.15) 25%,transparent 25%,transparent 50%,rgba(92, 102, 66, 0.15) 50%,rgba(92, 102, 66, 0.15) 75%,transparent 75%,transparent); 
    background-size: 13px 13px;
    border-radius: 3px;
    border: 1px solid rgba(82, 160, 92, 1);
}
.profile-images {
    width: 105px;
    margin-right: 25px;
}
.img-big {
    height: 100px;
    width: 100px;
}
.img-small {
    height: 50px; 
    width: 50px;
    margin: 0 0 -50px -54px;
}
.table-bordered {
    border-radius: 3px;
}
.table {
    border: 0;
}